#myTitle {
    text-align: center;
}

#calculator {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
}

button {
  font-size: 2em;
  flex-basis: 20%;
  margin: .25em;
}

#inputArea {
  font-size: 2em;
  flex-basis: 100%;
  text-align: center;
}